<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="resume.css">
	  
	  <script src="image.js" type="text/javascript"></script>

	  
	 
    <title>MUSKAN SRIVASTAVA</title>
  </head>
  <body>

      <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="/" class="navbar-brand">MUSKAN</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
              <a href="/education" class="nav-link">EDUCATION</a>
            </li>
            <li class="nav-item">
              <a href="/skills" class="nav-link">SKILLS</a>
            </li>
			  <li class="nav-item">
              <a href="/aboutme" class="nav-link">ABOUT ME</a>
            </li>
			   <li class="nav-item">
              <a href="/blogs" class="nav-link">BLOGS</a>
            </li>
			  <li class="nav-item">
              <a href="/projects" class="nav-link">PROJECTS</a>
            </li>
			   
          </ul>
        </div>
      </nav>

	  
      
	  
	  

      <section class="container-fluid px-0">
		  
		  <div id="education"></div>
        <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
			  
			  
			  <div style="text-align: center">
		<img id="myImg" src="https://ubyssey.storage.googleapis.com/media/images/2018/01/studying_1-medium-medium.jpg" width="60%" />
			  </div>
          <div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
			  
			  
          </div>
        <div class="col-md-6 text-center order-1 order-md-2">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2 class="">EDUCATION</h2>				
		<a href="/education" class="btn btn-defaukt btn-sm"><i class="fas fa-university"></i> See More</a>
				<p class="lead"><i>Don't let what you cannot do interfere with what you can do!</i></p>
            </div>
          </div>
          
          </div>
        </div>
		  
		  
		  <div id="skills"></div>
        <div class="row align-items-center content"> 
        <div class="col-md-6 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2 class="" >SKILLS</h2>
         <a href="/skills" class="btn btn-defaukt btn-sm"><i class="fas fa-laptop"></i> See More</a>
          <p class="lead"><i>Skill is the unified force of experience, intellect and passion in their operation.!</i></p>
            </div>
          </div>
          
          </div>
          <div class="col-md-6  ">
			   <div style="text-align: center"><img id="myImg" src="https://i.pinimg.com/564x/e3/1d/d9/e31dd92b26695240405ea13cdb66b09c.jpg" width="60%" /></div>
          </div>
        </div>

        		
			<div id="aboutme"></div>
		<div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
			  <div style="text-align: center"><img id="myImg" src="https://i.pinimg.com/736x/4a/bd/c7/4abdc712f3306142a2edda3d5e9ca235.jpg" width="60%" /></div>
          
          </div>
        <div class="col-md-6 text-center order-1 order-md-2">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2 class="">ABOUT ME</h2>	
			<a href="/aboutme" class="btn btn-defaukt btn-sm"><i class="fas fa-address-card"></i> See More</a>
          <p class="lead"><i>Sometimes when I close my eyes, I can't see.</i></p>
            </div>
          </div>
          
          </div>
        </div>
		  
		   
		<div id="blogs"></div>	
		<div class="row align-items-center content"> 
        <div class="col-md-6 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2 class="">BLOGS</h2>
         <a href="/blogs" class="btn btn-defaukt btn-sm"><i class="fab fa-blogger"></i> See More</a>
          <p class="lead"><i>One sure window into a person’s soul is his reading list.</i></p>
            </div>
          </div>
          
          </div>
          <div class="col-md-6  ">
            <div style="text-align: center"><img id="myImg" src="https://66.media.tumblr.com/33ed6f84f4d8cac520b6b24e3f3dba66/tumblr_pdy9xhkxJb1xd4s5so1_250.jpg" width="60%" /></div>
          </div>
        </div>
		  
		  <div id="projects"></div>
        <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <div style="text-align: center"><img src="https://illustrationage.files.wordpress.com/2017/06/lufthansa-computer-illustration-2.jpg?w=700&h=700" width="60%" /></div>
          </div>
        <div class="col-md-6 text-center order-1 order-md-2">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2 class="">PROJECTS</h2>
          <a href="/projects" class="btn btn-defaukt btn-sm"><i class="fas fa-tasks"></i> See More</a>
          <p class="lead"><i>It does not take much strength to do things, but it requires a great deal of strength to decide what to do.</i></p>
            </div>
          </div>
          
          </div>
        </div>

        
		  
		  <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify"><i>All our dreams can come true, if we have the courage to pursue them,</i><br>
				<i>and I'm just another girl, following her dreams!</i><br><br>
				Contact me: 7463990321|<a href="#"> muskansri1@gmail.com</a>
			  </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Projects</h6>
            <ul class="footer-links">
               <li><a href="/www.bullseye.in">Bull's Eye Training</a></li>
              <li><a href="https://muskan-blog-site.herokuapp.com/">Writer's Space</a></li>
				<li><a href="https://drive.google.com/file/d/1tBUfaJlJiyjTETzbI99wtoabB4_CtDZK/view?usp=sharing">Sign-To-Text</a></li>
				<li><a href="https://drive.google.com/file/d/1TOslxKYZEcgbHk0EBSTfrbaiV7zsZF6o/view?usp=sharing">Portfolio</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3 ">
            <h6>Quick Links</h6>
            <ul class="footer-links">
			  <li><a href="\education">Education</a></li>
              <li><a href="\skills">Skills</a></li>
              <li><a href="\aboutme">About Me</a></li>
              <li><a href="\blogs">Blog</a></li>
              <li><a href="\projects">Projects</a></li>
			  <li><a href="https://drive.google.com/file/d/1fyUY1AN2N-uVvBaJDV92oHN48aBe7I41/view?usp=sharing"  target="_blank"><i class="fas fa-file-download"></i> Resume PDF</a></li>
             
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Portfolio Made by  
         <a href="#">Muskan Srivastava.</a>
				
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="instagram" href="https://www.instagram.com/muskansri1/"><i class="fa fa-instagram"></i></a></li>
            <!--  <li><a class="gmail" href="http://muskansri1@gmail.com"><i class="fa fa-google"></i></a></li>-->
              <li><a class="linkedin" href="https://www.linkedin.com/in/muskan-srivastava-019535190/"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
      
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>


  </body>
</html> 